.button {
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  border: 1px solid #cfd1d4;
  display: inline-flex;
  &:hover {
    border-color: #959698;
  }
  &:active {
    border-color: #1ea7fd;
  }
  &.disabled {
    background: #cfd1d4;
  }
  .button-icon {
    margin-right: 5px;
  }
}
